<!doctype html>
<head>
	<title>Clip Rip&trade;</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
    <div class="section">
        <div class="columns">
            <div class="column is-full">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column">
                <form action="/" method="post">
                    <div class="field">
                        <label class="label">YouTube URL</label>
                        <div class="control">
                            <input name="url" class="input {% if 'url' in form.errors %} is-danger {% endif %}" type="url" value="{{ form.url.data | default('', True) }}" required>

                            {% if 'url' in form.errors %}
                                {% for error in form.errors.get('url') %}
                                    <span class="help is-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Start Time (seconds)</label>
                        <div class="control">
                            <input name="start_time" class="input {% if 'start_time' in form.errors %} is-danger {% endif %}" type="number" min="0" value="{{ form.start_time.data | default(0, True) }}">

                            {% if 'start_time' in form.errors %}
                                {% for error in form.errors.get('start_time') %}
                                    <span class="help is-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Clip Duration (seconds)</label>
                        <div class="control">
                            <input name="end_time" class="input {% if 'end_time' in form.errors %} is-danger {% endif %}" type="number" min="1" value="{{ form.end_time.data | default('1', True) }}">

                            {% if 'end_time' in form.errors %}
                                {% for error in form.errors.get('end_time') %}
                                    <span class="help is-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-link is-fullwidth">Rip Clip</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="columns is-centered pt-6">
            <img src="/static/img/cf-logo-1cBlack.svg" width="200px" \>
        </div>
    </div>
</body>
